<nav id="sidebar">
    <div class="menu_section">
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "About")">About</a></li>
            <li><a href="@Url.Action("Index", "Contact")">Contact us</a></li>
            <br />
            <br />
            <li><a href="@Url.Action("Login", "Users")">Login</a></li>
            <li><a href="@Url.Action("Register", "Users")">Register</a></li>
        </ul>
    </div>
</nav>
